[submodule "libraries/Jumble"]
	path = libraries/Jumble
	url = https://www.github.com//Jumble.git
[submodule "libraries/NetCipher"]
	path = libraries/NetCipher
	url = https://github.com//OnionKit.git
